
:root {
    --scale: 1.0;
    --element-scale: 1.0;
    --gutter: calc(7.5px * var(--scale));

    --building-spritesheet-width: 1660px;
    --building-spritesheet-height: 2080px;
    --building-spritesheet-columns: 10;
    --building-spritesheet-rows: 8;
    --building-spritesheet-scale: 1.253; /* Had to make the spritesheet smaller to support the @2X version at 4096 pixels high. */
    --building-width: calc(var(--building-spritesheet-width) / var(--building-spritesheet-columns) * var(--building-spritesheet-scale));
    --building-height: calc(var(--building-spritesheet-height) / var(--building-spritesheet-rows) * var(--building-spritesheet-scale));
    --building-small-scale: calc(0.5 * var(--scale));
    --building-small-width: calc(var(--building-width) * var(--building-small-scale));
    --building-small-height: calc(var(--building-height) * var(--building-small-scale));
    --building-header-small-height: calc(62px * var(--building-small-scale));

    --wonder-spritesheet-width: 1845px;
    --wonder-spritesheet-height: 720px;
    --wonder-spritesheet-columns: 5;
    --wonder-spritesheet-rows: 3;
    --wonder-width: calc(var(--wonder-spritesheet-width) / var(--wonder-spritesheet-columns));
    --wonder-height: calc(var(--wonder-spritesheet-height) / var(--wonder-spritesheet-rows));
    --wonder-border-radius: 15px;
    --wonder-small-scale: calc(0.58 * var(--scale));
    --wonder-plus-age-card-scale: 1.1;

    --progress-token-spritesheet-width: 800px;
    --progress-token-spritesheet-height: 600px;
    --progress-token-spritesheet-columns: 4;
    --progress-token-spritesheet-rows: 3;
    --progress-token-width: calc(var(--progress-token-spritesheet-width) / var(--progress-token-spritesheet-columns));
    --progress-token-height: calc(var(--progress-token-spritesheet-height) / var(--progress-token-spritesheet-rows));
    --progress-token-small-scale: calc(0.4 * (0.5 / 0.63) * var(--scale)); /* (0.5 / 0.63) Because board used to be scale 0.63 and now is 0.5 */

    --linked-building-icon-spritesheet-width: 288px;
    --linked-building-icon-spritesheet-height: 64px;
    --linked-building-icon-spritesheet-columns: 9;
    --linked-building-icon-spritesheet-rows: 2;
    --linked-building-icon-width: calc(var(--linked-building-icon-spritesheet-width) / var(--linked-building-icon-spritesheet-columns));
    --linked-building-icon-height: calc(var(--linked-building-icon-spritesheet-height) / var(--linked-building-icon-spritesheet-rows));
    --linked-building-icon-small-scale: calc(0.45 * var(--scale));

    --board-width: 268px;
    --board-height: 949px;
    --board-scale: calc(0.75 * var(--scale));
    --military-token-scale: calc(0.5 * var(--scale));

    --small-border-radius: calc(7px * var(--scale));

    --draftpool-row-height-multiplier: 0.536;
    --draftpool-column-width: calc(var(--building-width) * var(--building-small-scale) * 0.6);
    --draftpool-row-height: calc(var(--building-height) * var(--building-small-scale) * var(--draftpool-row-height-multiplier));

    --military-track-header: 0.0434;
    --military-track-body: 0.87;
    --conflict-pawn-position: 0; /* -9 to 9 */

    --list-of-cards-scale: calc(var(--scale) * 0.75);
}
