
:root {
    --scale: 1.0;
    --element-scale: 1.0;
    --gutter: calc(7.5px * var(--scale));

    --building-spritesheet-width: 1992px;
    --building-spritesheet-height: 2048px;
    --building-spritesheet-columns: 12;
    --building-spritesheet-rows: 8;
    --building-spritesheet-scale: 1.253; /* Had to make the spritesheet smaller to support the @2X version at 4096 pixels high. */
    --building-width: calc(var(--building-spritesheet-width) / var(--building-spritesheet-columns) * var(--building-spritesheet-scale));
    --building-height: calc(var(--building-spritesheet-height) / var(--building-spritesheet-rows) * var(--building-spritesheet-scale));
    --building-small-scale: calc(0.5 * var(--scale));
    --building-small-width: calc(var(--building-width) * var(--building-small-scale));
    --building-small-height: calc(var(--building-height) * var(--building-small-scale));
    --building-header-small-height: calc(62px * var(--building-small-scale));
    --building-columns-count: 7;

    --wonder-spritesheet-width: 1845px;
    --wonder-spritesheet-height: 960px;
    --wonder-spritesheet-columns: 5;
    --wonder-spritesheet-rows: 4;
    --wonder-width: calc(var(--wonder-spritesheet-width) / var(--wonder-spritesheet-columns));
    --wonder-height: calc(var(--wonder-spritesheet-height) / var(--wonder-spritesheet-rows));
    --wonder-border-radius: 15px;
    --wonder-small-scale: calc(0.58 * var(--scale));
    --wonder-plus-age-card-scale: 1.1;

    --divinity-spritesheet-width: 1356px;
    --divinity-spritesheet-height: 1660px;
    --divinity-spritesheet-columns: 6;
    --divinity-spritesheet-rows: 4;
    --divinity-width: calc(var(--divinity-spritesheet-width) / var(--divinity-spritesheet-columns));
    --divinity-height: calc(var(--divinity-spritesheet-height) / var(--divinity-spritesheet-rows));
    --divinity-compact-width: calc(var(--divinity-spritesheet-width) / var(--divinity-spritesheet-columns) * (194/226));
    --divinity-compact-height: calc(var(--divinity-spritesheet-height) / var(--divinity-spritesheet-rows) * (114/415));
    --divinity-border-radius: 15px;
    --divinity-small-scale: calc(0.58 * var(--scale));
    --divinity-plus-age-card-scale: 1.25;

    --conspiracy-spritesheet-width: 1440px;
    --conspiracy-spritesheet-height: 1107px;
    --conspiracy-spritesheet-columns: 6;
    --conspiracy-spritesheet-rows: 3;
    --conspiracy-width: calc(var(--conspiracy-spritesheet-width) / var(--conspiracy-spritesheet-columns));
    --conspiracy-height: calc(var(--conspiracy-spritesheet-height) / var(--conspiracy-spritesheet-rows));
    --conspiracy-compact-height: calc(var(--conspiracy-spritesheet-height) / var(--conspiracy-spritesheet-rows) * (140/369));
    --conspiracy-border-radius: 15px;
    --conspiracy-small-scale: calc(0.58 * var(--scale));
    --conspiracy-peek-scale: calc(0.865 * var(--conspiracy-small-scale));
    --conspiracy-plus-age-card-scale: 1.25;

    --progress-token-spritesheet-width: 800px;
    --progress-token-spritesheet-height: 800px;
    --progress-token-spritesheet-columns: 4;
    --progress-token-spritesheet-rows: 4;
    --progress-token-width: calc(var(--progress-token-spritesheet-width) / var(--progress-token-spritesheet-columns));
    --progress-token-height: calc(var(--progress-token-spritesheet-height) / var(--progress-token-spritesheet-rows));
    --progress-token-small-scale: calc(0.4 * (0.5 / 0.63) * var(--scale)); /* (0.5 / 0.63) Because board used to be scale 0.63 and now is 0.5 */

    --decree-spritesheet-width: 696px;
    --decree-spritesheet-height: 537px;
    --decree-spritesheet-columns: 6;
    --decree-spritesheet-rows: 3;
    --decree-width: calc(var(--decree-spritesheet-width) / var(--decree-spritesheet-columns));
    --decree-height: calc(var(--decree-spritesheet-height) / var(--decree-spritesheet-rows));
    --decree-small-scale: calc(0.45 * var(--senate-scale)); /* (0.5 / 0.63) Because board used to be scale 0.63 and now is 0.5 */

    --linked-building-icon-spritesheet-width: 288px;
    --linked-building-icon-spritesheet-height: 64px;
    --linked-building-icon-spritesheet-columns: 9;
    --linked-building-icon-spritesheet-rows: 2;
    --linked-building-icon-width: calc(var(--linked-building-icon-spritesheet-width) / var(--linked-building-icon-spritesheet-columns));
    --linked-building-icon-height: calc(var(--linked-building-icon-spritesheet-height) / var(--linked-building-icon-spritesheet-rows));
    --linked-building-icon-small-scale: calc(0.45 * var(--scale));

    --board-width: 268px;
    --board-height: 949px;
    --board-scale: calc(0.75 * var(--scale));
    --military-token-scale: calc(0.5 * var(--scale));
    --board-column-width: 220px;

    --pantheon-board-width: 217px;
    --pantheon-board-height: 949px;
    --pantheon-board-scale: calc(0.75 * var(--scale));
    --pantheon-board-column-width: 0px;

    --senate-width: 220px;
    --senate-height: 949px;
    --senate-scale: calc(0.75 * var(--scale));
    --cube-size: 30px;
    --senate-board-column-width: 0px;

    --senate-tooltip-spritesheet-width: 1980px;
    --senate-tooltip-spritesheet-height: 315px;
    --senate-tooltip-spritesheet-columns: 6;
    --senate-tooltip-spritesheet-rows: 1;
    --senate-tooltip-width: calc(var(--senate-tooltip-spritesheet-width) / var(--senate-tooltip-spritesheet-columns));
    --senate-tooltip-height: calc(var(--senate-tooltip-spritesheet-height) / var(--senate-tooltip-spritesheet-rows));

    --small-border-radius: calc(7px * var(--scale));

    --draftpool-row-height-multiplier: 0.536;
    --draftpool-column-width: calc(var(--building-width) * var(--building-small-scale) * 0.58);
    --last-row-reveal-movement: 0px;
    --draftpool-row-height: calc(var(--building-height) * var(--building-small-scale) * var(--draftpool-row-height-multiplier));
    --draftpool-column-count: 11;

    --military-track-header: 0.0434;
    --military-track-body: 0.87;
    --conflict-pawn-position: 0; /* -9 to 9 */

    --list-of-cards-scale: calc(var(--scale) * 0.75);
}

#swd_wrap.square #board_column, #swd_wrap.landscape #board_column {
    --board-column-width: 225px;
}

#swd[data-pantheon="1"] {
    --building-columns-count: 8;
    --draftpool-column-count: 13;
    --pantheon-board-column-width: 128px;
}

#swd[data-pantheon="0"] .pantheon {
    display: none;
}

#swd[data-agora="1"] {
    --building-columns-count: 8;
    --draftpool-column-count: 13;
    --senate-board-column-width: 175px;
}

#swd[data-agora="0"] .agora {
    display: none;
}
