
.swd_tooltip * {
    font-size: calc(var(--scale) * 18px);
}

.swd_tooltip {
    width: calc(var(--scale) * 700px);
    display: flex;
    justify-content: space-between;
}

.swd_tooltip > div {
    flex-grow: 1;
}

.dijitTooltipContents li {
    list-style: outside;
    margin-left: calc(25px * var(--scale));
}

li.no_li {
    list-style: none;
    margin-left: 0;
}

.swd_tooltip .building_header_small {
    transform: scale(1.5);
    margin: calc(15px * var(--scale)) 0 0 calc(25px * var(--scale));
    display: inline-block;
}

.progress_token_tooltip {
    width: calc(550px * var(--scale));
}

.tooltipWiggle {
    animation: tooltipWiggle 2s infinite alternate;
    align-self: center;
}

@keyframes tooltipWiggle {
    from {
        transform: perspective(40em) rotateY(-18deg) scale(0.93); /* The 0.95 makes the graphic fit the tooltip better */
        animation-timing-function: ease-in-out;
    }
    to {
        transform: perspective(40em) rotateY(-10deg) scale(0.93); /* The 0.95 makes the graphic fit the tooltip better */
        animation-timing-function: ease-in-out;
    }
}

.payment_plan {
    margin: var(--gutter) 0 var(--gutter) var(--gutter);
}

.payment_plan > div {
    vertical-align: middle;
}

.senate_tooltip {
    width: calc(var(--senate-tooltip-width) * var(--scale));
    height: calc(var(--senate-tooltip-height) * var(--scale));
    background-size: calc(var(--senate-tooltip-width) * var(--senate-tooltip-spritesheet-columns) * var(--scale)) calc(var(--senate-tooltip-height) * var(--senate-tooltip-spritesheet-rows) * var(--scale));
    background-image: url('img/agora_senate_tooltips.png');
    display: inline-block;
    position: relative;
    filter: drop-shadow(calc(var(--scale) * 5px) calc(var(--scale) * 5px) calc(var(--scale) * 5px) rgba(0, 0, 0, 0.4));
}
