
#swd_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#layout_flexbox {
    /* Use flexbox properties https://www.youtube.com/watch?v=JJSoEo8JSnc */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#wonder_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#wonder_column > div:first-child .player_wonders {
    /* Space between the two player areas with wonders, relevant in square mode where they would otherwise touch. */
    margin-bottom: var(--gutter);
}

#middle_column {
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: calc(7 * var(--building-small-width) + 6 * 2px + 2 * var(--gutter)); /* This keeps content in the middle_column, especially something like select_start_player within the allowed size. */
}

#board_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

#swd_wrap.portrait #board_column {
    /* Specific width so layout_flexbox becomes the same width as player_wonders_mobile_container_ div. */
    width: calc(220px * var(--scale));
}

#swd_wrap.square #board_column, #swd_wrap.landscape #board_column {
    /* Specific width so layout_flexbox becomes the same width as player_wonders_mobile_container_ div. */
    width: calc(225px * var(--scale));
}
