
.current_player_is_active #swd[data-state=chooseProgressToken] #board_progress_tokens .progress_token_small {
    cursor: pointer;
}

.progress_token {
    width: calc(var(--progress-token-width) * var(--scale));
    height: calc(var(--progress-token-height) * var(--scale));
    background-size: calc(var(--progress-token-spritesheet-width) * var(--scale)) calc(var(--progress-token-spritesheet-height) * var(--scale));
    background-image: url('img/progress_tokens.jpg');
    border-radius: calc(var(--progress-token-width) * var(--scale) * 0.5);
    box-shadow: calc(var(--scale) * 5px) calc(var(--scale) * 5px) calc(var(--scale) * 5px) 0 rgba(0, 0, 0, 0.4),
    inset 0 0 0 calc(var(--scale) * 1px) #00000060;

    /* Temporary: */
    display: inline-block;
    position: inherit;
}

.progress_token_small {
    position: relative;
    z-index: 5;
    width: calc(var(--progress-token-width) * var(--progress-token-small-scale) * var(--element-scale));
    height: calc(var(--progress-token-height) * var(--progress-token-small-scale) * var(--element-scale));
    background-size: calc(var(--progress-token-spritesheet-width) * var(--progress-token-small-scale) * var(--element-scale)) calc(var(--progress-token-spritesheet-height) * var(--progress-token-small-scale) * var(--element-scale));
    border-radius: calc(var(--progress-token-width) * var(--progress-token-small-scale) * var(--element-scale) * 0.5);
    box-shadow: 0 0 calc(var(--scale) * 3px) calc(var(--scale) * 1px) rgba(0, 0, 0, 0.4),
    inset 0 0 0 calc(var(--scale) * 0.5px) #00000060;
}

.lock_progress_token {
    display: none;
    --element-scale: 0.8;
    pointer-events: none;
    position: absolute;
    left: calc(var(--conspiracy-width) * var(--conspiracy-small-scale) * 0.6);
    top: calc(var(--conspiracy-compact-height) * var(--conspiracy-small-scale) * var(--conspiracy-plus-age-card-scale) * 0.25);
}
.conspiracy_small[data-conspiracy-id="5"][data-conspiracy-progress-token="1"] .lock_progress_token {
    display: block;
}
