
#conspire {
    display: none;
}

.current_player_is_active #swd[data-state=conspire] {
    --draftpool-row-height-multiplier: 0.35 !important;
    --draftpool-row-height: calc(var(--building-height) * var(--building-small-scale) * var(--draftpool-row-height-multiplier));
 }
.current_player_is_active #swd[data-state=conspire] #conspire {
    display: flex;
    justify-content: space-evenly;
}

.current_player_is_active #swd[data-state=conspire] #conspire .conspiracy_small {
    cursor: pointer;
}

#conspire > div {
    width: calc(var(--conspiracy-width) * var(--conspiracy-small-scale));
    height: calc(var(--conspiracy-height) * var(--conspiracy-small-scale));
    position: relative;
}
