

#senate_actions {
    display: none;
}

.current_player_is_active #swd[data-state=senateActions] #senate_actions {
    display: block;
}

#move_influence {
    display: none;
}
.current_player_is_active #swd[data-state=moveInfluence] #move_influence {
    display: block;
}
