
.current_player_is_active #swd[data-state=deconstructWonder] .player_wonders .red_border {
    cursor: pointer;
}

.current_player_is_active #swd[data-state=placeMinervaToken] #board_container .military_position.red_stroke {
    cursor: pointer;
}

.current_player_is_active #swd[data-state=discardAgeCard] {
    --draftpool-row-height-multiplier: 1.08 !important;
    --draftpool-row-height: calc(var(--building-height) * var(--building-small-scale) * var(--draftpool-row-height-multiplier));
}

.current_player_is_active #swd[data-state=discardAgeCard] #draftpool .building_small {
    cursor: pointer;
}
