
#choose_divinity_from_top_cards {
    display: none;
}

.current_player_is_active #swd[data-state=chooseDivinityFromTopCards] {
    --draftpool-row-height-multiplier: 0.35 !important;
    --draftpool-row-height: calc(var(--building-height) * var(--building-small-scale) * var(--draftpool-row-height-multiplier));
}

.current_player_is_active #swd[data-state=chooseDivinityFromTopCards] #choose_divinity_from_top_cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--gutter);
}

.current_player_is_active #swd[data-state=chooseDivinityFromTopCards] #choose_divinity_from_top_cards .divinity_small {
    cursor: pointer;
}

#choose_divinity_from_top_cards > div {
    width: calc(var(--divinity-width) * var(--divinity-small-scale));
    height: calc(var(--divinity-height) * var(--divinity-small-scale));
    position: relative;
}
