
#draftpool .building_small .mythology_token_container {
    left: calc(0.5 * (var(--building-small-width) - (var(--mythology-token-width) * var(--mythology-token-small-scale) * var(--element-scale))));
    top: calc(var(--scale) * 29px * var(--draftpool-row-height-multiplier));
}

.mythology_token_container {
    position: relative;
}
.mythology_token {
    background-image: url('img/pantheon_sprites.png');
    width: var(--mythology-token-width);
    height: var(--mythology-token-height);
    filter: drop-shadow(0px 0px calc(var(--scale) * 5px) #000000);
}
.mythology_token1 {
    background-position: 0.316% 1.843%;
    background-size: 609.677%;
}
.mythology_token2 {
    background-position: 20.253% 1.843%;
    background-size: 609.677%;
}
.mythology_token3 {
    background-position: 40.19% 1.826%;
    background-size: 609.677%;
}
.mythology_token4 {
    background-position: 60.127% 1.843%;
    background-size: 609.677%;
}
.mythology_token5 {
    background-position: 80.063% 1.826%;
    background-size: 609.677%;
}
.mythology_token_back {
    background-position: 99.763% 2.273%;
    background-size: 614.634%;
}
.mythology_token_small {
    position: relative;
    z-index: 5;
    width: calc(var(--mythology-token-width) * var(--mythology-token-small-scale) * var(--element-scale));
    height: calc(var(--mythology-token-height) * var(--mythology-token-small-scale) * var(--element-scale));
    filter: drop-shadow(0px 0px calc(var(--scale) * 3px) #000000);
}
