
#lower_divs_container {
    margin-top: var(--gutter) !important;
    margin-left: auto !important;
    margin-right: auto !important;
    box-sizing: border-box;
    display: flex;
}

#discarded_cards_container {
    margin: 0 calc(0px - var(--gutter)) calc(0px - var(--gutter)) 0;
}

#discarded_cards_container div {
    position: relative !important;
    display: inline-block;
    width: var(--building-small-width);
    height: var(--building-small-height);
    margin: 0 var(--gutter) var(--gutter) 0;
}

.current_player_is_active #swd[data-state=chooseDiscardedBuilding] #discarded_cards_container .building_small {
    cursor: pointer;
}

.discarded_cards_cursor {
    display: none !important;
}

#discarded_cards_whiteblock {
    flex-grow: 2;
}

#conspiracy_deck_container {
    margin-left: var(--gutter) !important;
}

#conspiracy_deck_container span {
    font-family: "Cafeteria-Black", Roboto, Arial, sans-serif;
    font-size: calc(var(--scale) * 32px);
    text-shadow: 0 0 calc(var(--scale) * 3px) black, 0 0 calc(var(--scale) * 3px) black;
    color: white;
    cursor: default;
    position: relative;
}
#conspiracy_deck_container .conspiracy {
    position: initial;
}