
#conspiracy_deck_container {
    margin-left: var(--gutter) !important;
}

#conspiracy_deck span {
    font-family: cafeteria, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: calc(var(--scale) * 32px);
    text-shadow: 0 0 calc(var(--scale) * 3px) black, 0 0 calc(var(--scale) * 3px) black;
    color: white;
    cursor: default;
    position: relative;
}
#conspiracy_deck_container .conspiracy {
    position: initial;
}
