
#settings_whiteblock {
    margin-top: var(--gutter) !important;
    margin-left: auto !important;
    margin-right: auto !important;
    box-sizing: border-box;
}

.settings_table {
    line-height: 28px;
}

.settings_table tr td {
    vertical-align: top;
}

.settings_table tr td:first-of-type {
    white-space: nowrap;
}

.settings_table tr td:not(:last-of-type) {
    padding-right: var(--gutter);
}

#setting_scale_container {
    display: inline-block;
}
