
/* High-res 2X assets (retina): */

#swd[data-quality="2x"] .action_construct, #swd[data-quality="2x"] .action_wonder, #swd[data-quality="2x"] .clay, #swd[data-quality="2x"] .coin, #swd[data-quality="2x"] .coin#swd[data-quality="2x"] .opponent, #swd[data-quality="2x"] .end_game_card, #swd[data-quality="2x"] .glass, #swd[data-quality="2x"] .military_token_2, #swd[data-quality="2x"] .military_token_5, #swd[data-quality="2x"] .papyrus, #swd[data-quality="2x"] .pawn, #swd[data-quality="2x"] .point, #swd[data-quality="2x"] .stone, #swd[data-quality="2x"] .wood {
    background-image: url('img/sprites@2X.png') !important;
}

#swd[data-quality="2x"] .board {
    background-image: url('img/board@2X.png') !important;
}

#swd[data-quality="2x"] .building {
    background-image: url('img/buildings@2X.jpg') !important;
}

#swd[data-quality="2x"] .wonder {
    background-image: url('img/wonders@2X.jpg') !important;
}

#swd[data-quality="2x"] .progress_token {
    background-image: url('img/progress_tokens@2X.jpg') !important;
}

#swd[data-quality="2x"] .linked_building_icon {
    background-image: url('img/linked-building-icons@2X.jpg') !important;
}
