
/* High-res 2X assets (retina): */

#ebd-body[data-swd-quality="2x"] .action_construct,
#ebd-body[data-swd-quality="2x"] .action_wonder,
#ebd-body[data-swd-quality="2x"] .clay,
#ebd-body[data-swd-quality="2x"] .coin,
#ebd-body[data-swd-quality="2x"] .coin.opponent,
#ebd-body[data-swd-quality="2x"] .end_game_card,
#ebd-body[data-swd-quality="2x"] .glass,
#ebd-body[data-swd-quality="2x"] .military_token_2,
#ebd-body[data-swd-quality="2x"] .military_token_5,
#ebd-body[data-swd-quality="2x"] .papyrus,
#ebd-body[data-swd-quality="2x"] .pawn,
#ebd-body[data-swd-quality="2x"] .point,
#ebd-body[data-swd-quality="2x"] .stone,
#ebd-body[data-swd-quality="2x"] .wood {
    background-image: url('img/sprites@2X.png') !important;
}

#ebd-body[data-swd-quality="2x"] .board {
    background-image: url('img/board@2X.png') !important;
}

#ebd-body[data-swd-quality="2x"] .building {
    background-image: url('img/buildings_v3@2X.jpg') !important;
}

#ebd-body[data-swd-quality="2x"] .wonder {
    background-image: url('img/wonders_v3@2X.jpg') !important;
}

#ebd-body[data-swd-quality="2x"] .progress_token {
    background-image: url('img/progress_tokens_v3@2X.jpg') !important;
}

#ebd-body[data-swd-quality="2x"] .linked_building_icon {
    background-image: url('img/linked-building-icons@2X.jpg') !important;
}

/* Agora */

#ebd-body[data-swd-quality="2x"] .conspiracy {
    background-image: url('img/agora_conspiracies@2X.jpg');
}
#ebd-body[data-swd-quality="2x"] .decree {
    background-image: url('img/agora_decrees@2X.png');
}
#ebd-body[data-swd-quality="2x"] .senate {
    background-image: url('img/agora_senate@2X.png');
}
#ebd-body[data-swd-quality="2x"] .agora_cube3d_me,
#ebd-body[data-swd-quality="2x"] .agora_cube3d_opponent,
#ebd-body[data-swd-quality="2x"] .agora_cube_me,
#ebd-body[data-swd-quality="2x"] .agora_cube_opponent,
#swd[data-agora="1"][data-swd-quality="2x"] .military_token_2,
#swd[data-agora="1"][data-swd-quality="2x"] .military_token_5,
#ebd-body[data-swd-quality="2x"] .end_game_senate .end_game_card,
#ebd-body[data-swd-quality="2x"] .action_conspiracy,
#ebd-body[data-swd-quality="2x"] .action_place_influence,
#ebd-body[data-swd-quality="2x"] .action_move_influence,
#ebd-body[data-swd-quality="2x"] .action_remove_influence,
#ebd-body[data-swd-quality="2x"] .action_skip,
#ebd-body[data-swd-quality="2x"] .agora_icon,
#ebd-body[data-swd-quality="2x"] .senate_section  {
    background-image: url('img/agora_sprites@2X.png') !important;
}
