/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * SevenWondersDuel implementation : © Koen Heltzel <koenheltzel@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * sevenwondersduel.css
 *
 * SevenWondersDuel stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (sevenwondersduel_sevenwondersduel.tpl), and to HTML elements you create dynamically
    (in sevenwondersduel.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

#swd_wrap {
    /* Use flexbox properties https://www.youtube.com/watch?v=JJSoEo8JSnc */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.board, #board_container {
    width: calc(1440px * 0.63);
    height: calc(400px * 0.63);
}

#board_container {
    position: relative;
    display: inline-block;
}

.board {
    background-image: url('img/board.png');
    background-size: calc(1440px * 0.63) calc(400px * 0.63);
    /*border-radius: 7px;*/
    filter: drop-shadow(0px 0px 3px #000000);
    position: absolute;
    display: inline-block;
}

.progress_token_container0, .progress_token_container1, .progress_token_container2, .progress_token_container3, .progress_token_container4 {
    position: absolute;
    top: 9px;
    width: 80px;
    height: 80px;
}

.progress_token_container0 {
    left: 227px;
}

.progress_token_container1 {
    left: 320px;
}

.progress_token_container2 {
    left: 413px;
}

.progress_token_container3 {
    left: 507px;
}

.progress_token_container4 {
    left: 596px;
}

.board_player_left, .board_player_right {
    position: relative;
    display: inline-block;
    top: 40px;
}

.board_player_right {
    float: right;
}

h3 {
    margin: 0px;
}

.whiteblock h3 {
    /* Borrowed from Potion Explosion */
    text-shadow: 1px 1px 1px #FFFFFF;
}

.whiteblock {
    border-radius: 8px;
}

#draftpool_container {

}

.draftpool {
    position: relative;

    /* 5px for rightmost card's shadow, else it will look too narrox. */
    width: calc(62px * 10 + 104px + 5px);
}



/* Copied from Seven Wonders: */

.player_board_wrap {
    position: relative;
}

.player_board_name {
    position: relative;
    display: inline-block;
}

.player_board_building_column {
    display: inline-block;
}

.player_board_wrap .wonder_small {
    margin-right: 40px;
    z-index: 2;
    position: relative;
}
.player_board_wrap .age_card_container {
    transform: rotate(-90deg);
    position: relative;
    top: -159px;
    left: -40px;
}
.player_board_wrap .age_card_container .building_small {
    position: absolute;
}

.player_board_wonders {
    height: 152px;
}

.sw_coins {
    position: relative;
    display: inline-block;
    float: right;
}
.sw_coins span.tcoin {
    position: relative;
    top: -4px;
}
.sicon {
    background-image: url('img/icons.png');
    width: 30px;
    height: 30px;
    display: inline-block;
}
.siconmini {
    background-image: url('img/icons.png');
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 4px;
}

.sicon_coin {    background-position: -0px -0px;    }

/* End Copied from Seven Wonders: */




.building {
    width: 208px;
    height: 321px;
    background-image: url('img/buildings.jpg');
    border-radius: 14px;
    box-shadow:
        5px 5px 5px 0px rgba(0,0,0,0.4),
        inset 0px 0px 0px 1px #00000060;

    /* Temporary?: */
    display: inline-block;
    position: inherit;
}

.building_header_small {
    width: calc(208px / 2);
    height: calc(62px / 2);
    background-size: calc(2080px / 2) calc(2568px / 2);
    border-radius: 7px;
    box-shadow:
        3px 3px 3px 0px rgba(0,0,0,0.4),
        inset 0px 0px 0px 0.5px #00000060;
    cursor: pointer;
    display: block;
}

.building_small {
    width: calc(208px / 2);
    height: calc(321px / 2);
    background-size: calc(2080px / 2) calc(2568px / 2);
    border-radius: 7px;
    box-shadow:
        0px 0px 3px 3px rgba(0,0,0,0.4),
        inset 0px 0px 0px 0.5px #00000060;
    cursor: pointer;
}

.wonder {
    width: 369px;
    height: 240px;
    background-image: url('img/wonders.jpg');
    position: absolute;
    cursor: pointer;
    border-radius: 20px;
    box-shadow:
        5px 5px 5px 0px rgba(0,0,0,0.4),
        inset 0px 0px 0px 1px #00000060;

    /* Temporary: */
    display: inline-block;
    position: inherit;
}

.wonder_small {
    width: calc(369px * 0.63);
    height: calc(240px * 0.63);
    background-size: calc(1845px * 0.63) calc(720px * 0.63);
    border-radius: 7px;
    box-shadow:
        3px 3px 3px 0px rgba(0,0,0,0.4),
        inset 0px 0px 0px 0.5px #00000060;
}

.progress_token {
    width: 200px;
    height: 200px;
    background-image: url('img/progress_tokens.jpg');
    position: absolute;
    cursor: pointer;
    border-radius: 100px;
    box-shadow:
        5px 5px 5px 0px rgba(0,0,0,0.4),
        inset 0px 0px 0px 1px #00000060;

    /* Temporary: */
    display: inline-block;
    position: inherit;
}

.progress_token_small {
    width: calc(200px * 0.4);
    height: calc(200px * 0.4);
    background-size: calc(800px * 0.4) calc(600px * 0.4);
    border-radius: calc(100px * 0.4);
    box-shadow:
        3px 3px 3px 0px rgba(0,0,0,0.4),
        inset 0px 0px 0px 0.5px #00000060;
}

.age1_back { background-position: -300% -700%; }
.age2_back { background-position: -400% -700%; }
.age3_back { background-position: -500% -700%; }
.guild_back { background-position: -600% -700%; }

.column1 { left: calc(62px * (1 - 1)); }
.column2 { left: calc(62px * (2 - 1)); }
.column3 { left: calc(62px * (3 - 1)); }
.column4 { left: calc(62px * (4 - 1)); }
.column5 { left: calc(62px * (5 - 1)); }
.column6 { left: calc(62px * (6 - 1)); }
.column7 { left: calc(62px * (7 - 1)); }
.column8 { left: calc(62px * (8 - 1)); }
.column9 { left: calc(62px * (9 - 1)); }
.column10 { left: calc(62px * (10 - 1)); }
.column11 { left: calc(62px * (11 - 1)); }

.row1 { top: calc(86px * (1 - 1)); }
.row2 { top: calc(86px * (2 - 1)); }
.row3 { top: calc(86px * (3 - 1)); }
.row4 { top: calc(86px * (4 - 1)); }
.row5 { top: calc(86px * (5 - 1)); }
.row6 { top: calc(86px * (6 - 1)); }
.row7 { top: calc(86px * (7 - 1)); }