/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * SevenWondersDuel implementation : © Koen Heltzel <koenheltzel@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * sevenwondersduel.css
 *
 * SevenWondersDuel stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (sevenwondersduel_sevenwondersduel.tpl), and to HTML elements you create dynamically
    (in sevenwondersduel.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/


.draftpool {
    position: relative;

    /* 5px for rightmost card's shadow, else it will look too narrox. */
    width: calc(62px * 10 + 104px + 5px);
}

.building {
    width: 208px;
    height: 321px;
    background-image: url('img/buildings.jpg');
    border-radius: 14px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    /* border: 1px black solid; */

    /* Temporary?: */
    display: inline-block;
    position: inherit;
}

.building_header_small {
    width: calc(208px / 2);
    height: calc(62px / 2);
    background-size: calc(2080px / 2) calc(2568px / 2);
    border-radius: 7px;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
    cursor: pointer;
}

.building_small {
    width: calc(208px / 2);
    height: calc(321px / 2);
    background-size: calc(2080px / 2) calc(2568px / 2);
    border-radius: 7px;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
    cursor: pointer;
}

.wonder {
    width: 369px;
    height: 240px;
    background-image: url('img/wonders.jpg');
    position: absolute;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    /* border: 1px black solid; */

    /* Temporary: */
    display: inline-block;
    position: inherit;
}

.wonder_small {
    width: calc(369px * 0.63);
    height: calc(240px * 0.63);
    background-size: calc(1845px * 0.63) calc(720px * 0.63);
    border-radius: 7px;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
}

.progress_token {
    width: 200px;
    height: 200px;
    background-image: url('img/progress_tokens.jpg');
    position: absolute;
    cursor: pointer;
    border-radius: 100px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    /* border: 1px black solid; */

    /* Temporary: */
    display: inline-block;
    position: inherit;
}

.progress_token_small {
    width: calc(200px * 0.4);
    height: calc(200px * 0.4);
    background-size: calc(800px * 0.4) calc(600px * 0.4);
    border-radius: calc(100px * 0.4);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.4);
}

.age1_back { background-position: -300% -700%; }
.age2_back { background-position: -400% -700%; }
.age3_back { background-position: -500% -700%; }
.guild_back { background-position: -600% -700%; }

.column1 { left: calc(62px * (1 - 1)); }
.column2 { left: calc(62px * (2 - 1)); }
.column3 { left: calc(62px * (3 - 1)); }
.column4 { left: calc(62px * (4 - 1)); }
.column5 { left: calc(62px * (5 - 1)); }
.column6 { left: calc(62px * (6 - 1)); }
.column7 { left: calc(62px * (7 - 1)); }
.column8 { left: calc(62px * (8 - 1)); }
.column9 { left: calc(62px * (9 - 1)); }
.column10 { left: calc(62px * (10 - 1)); }
.column11 { left: calc(62px * (11 - 1)); }

.row1 { top: calc(86px * (1 - 1)); }
.row2 { top: calc(86px * (2 - 1)); }
.row3 { top: calc(86px * (3 - 1)); }
.row4 { top: calc(86px * (4 - 1)); }
.row5 { top: calc(86px * (5 - 1)); }
.row6 { top: calc(86px * (6 - 1)); }
.row7 { top: calc(86px * (7 - 1)); }