/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * SevenWondersDuel implementation : © Koen Heltzel <koenheltzel@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * sevenwondersduel.css
 *
 * SevenWondersDuel stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (sevenwondersduel_sevenwondersduel.tpl), and to HTML elements you create dynamically
    (in sevenwondersduel.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/


.draftpool {
    position: relative;
}

.building {
    background-image: url('img/buildings.jpg');
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    border-radius: 10px;
    /* border: 1px black solid; */
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -o-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);
}

.building1 {
    width: 208px;
    height: 321px;
    background-position: 0 0;
}

.building10 {
    width: 208px;
    height: 321px;
    background-position: -208px 0;
}

.building11 {
    width: 208px;
    height: 321px;
    background-position: -416px 0;
}

.building12 {
    width: 208px;
    height: 321px;
    background-position: -624px 0;
}

.building13 {
    width: 208px;
    height: 321px;
    background-position: -832px 0;
}

.building14 {
    width: 208px;
    height: 321px;
    background-position: -1040px 0;
}

.building15 {
    width: 208px;
    height: 321px;
    background-position: -1248px 0;
}

.building16 {
    width: 208px;
    height: 321px;
    background-position: -1456px 0;
}

.building17 {
    width: 208px;
    height: 321px;
    background-position: -1664px 0;
}

.building18 {
    width: 208px;
    height: 321px;
    background-position: -1872px 0;
}

.building19 {
    width: 208px;
    height: 321px;
    background-position: 0 -321px;
}

.building2 {
    width: 208px;
    height: 321px;
    background-position: -208px -321px;
}

.building20 {
    width: 208px;
    height: 321px;
    background-position: -416px -321px;
}

.building21 {
    width: 208px;
    height: 321px;
    background-position: -624px -321px;
}

.building22 {
    width: 208px;
    height: 321px;
    background-position: -832px -321px;
}

.building23 {
    width: 208px;
    height: 321px;
    background-position: -1040px -321px;
}

.building24 {
    width: 208px;
    height: 321px;
    background-position: -1248px -321px;
}

.building25 {
    width: 208px;
    height: 321px;
    background-position: -1456px -321px;
}

.building26 {
    width: 208px;
    height: 321px;
    background-position: -1664px -321px;
}

.building27 {
    width: 208px;
    height: 321px;
    background-position: -1872px -321px;
}

.building28 {
    width: 208px;
    height: 321px;
    background-position: 0 -642px;
}

.building29 {
    width: 208px;
    height: 321px;
    background-position: -208px -642px;
}

.building3 {
    width: 208px;
    height: 321px;
    background-position: -416px -642px;
}

.building30 {
    width: 208px;
    height: 321px;
    background-position: -624px -642px;
}

.building31 {
    width: 208px;
    height: 321px;
    background-position: -832px -642px;
}

.building32 {
    width: 208px;
    height: 321px;
    background-position: -1040px -642px;
}

.building33 {
    width: 208px;
    height: 321px;
    background-position: -1248px -642px;
}

.building34 {
    width: 208px;
    height: 321px;
    background-position: -1456px -642px;
}

.building35 {
    width: 208px;
    height: 321px;
    background-position: -1664px -642px;
}

.building36 {
    width: 208px;
    height: 321px;
    background-position: -1872px -642px;
}

.building37 {
    width: 208px;
    height: 321px;
    background-position: 0 -963px;
}

.building38 {
    width: 208px;
    height: 321px;
    background-position: -208px -963px;
}

.building39 {
    width: 208px;
    height: 321px;
    background-position: -416px -963px;
}

.building4 {
    width: 208px;
    height: 321px;
    background-position: -624px -963px;
}

.building40 {
    width: 208px;
    height: 321px;
    background-position: -832px -963px;
}

.building41 {
    width: 208px;
    height: 321px;
    background-position: -1040px -963px;
}

.building42 {
    width: 208px;
    height: 321px;
    background-position: -1248px -963px;
}

.building43 {
    width: 208px;
    height: 321px;
    background-position: -1456px -963px;
}

.building44 {
    width: 208px;
    height: 321px;
    background-position: -1664px -963px;
}

.building45 {
    width: 208px;
    height: 321px;
    background-position: -1872px -963px;
}

.building46 {
    width: 208px;
    height: 321px;
    background-position: 0 -1284px;
}

.building47 {
    width: 208px;
    height: 321px;
    background-position: -208px -1284px;
}

.building48 {
    width: 208px;
    height: 321px;
    background-position: -416px -1284px;
}

.building49 {
    width: 208px;
    height: 321px;
    background-position: -624px -1284px;
}

.building5 {
    width: 208px;
    height: 321px;
    background-position: -832px -1284px;
}

.building50 {
    width: 208px;
    height: 321px;
    background-position: -1040px -1284px;
}

.building51 {
    width: 208px;
    height: 321px;
    background-position: -1248px -1284px;
}

.building52 {
    width: 208px;
    height: 321px;
    background-position: -1456px -1284px;
}

.building53 {
    width: 208px;
    height: 321px;
    background-position: -1664px -1284px;
}

.building54 {
    width: 208px;
    height: 321px;
    background-position: -1872px -1284px;
}

.building55 {
    width: 208px;
    height: 321px;
    background-position: 0 -1605px;
}

.building56 {
    width: 208px;
    height: 321px;
    background-position: -208px -1605px;
}

.building57 {
    width: 208px;
    height: 321px;
    background-position: -416px -1605px;
}

.building58 {
    width: 208px;
    height: 321px;
    background-position: -624px -1605px;
}

.building59 {
    width: 208px;
    height: 321px;
    background-position: -832px -1605px;
}

.building6 {
    width: 208px;
    height: 321px;
    background-position: -1040px -1605px;
}

.building60 {
    width: 208px;
    height: 321px;
    background-position: -1248px -1605px;
}

.building61 {
    width: 208px;
    height: 321px;
    background-position: -1456px -1605px;
}

.building62 {
    width: 208px;
    height: 321px;
    background-position: -1664px -1605px;
}

.building63 {
    width: 208px;
    height: 321px;
    background-position: -1872px -1605px;
}

.building64 {
    width: 208px;
    height: 321px;
    background-position: -2080px 0;
}

.building65 {
    width: 208px;
    height: 321px;
    background-position: -2080px -321px;
}

.building66 {
    width: 208px;
    height: 321px;
    background-position: -2080px -642px;
}

.building67 {
    width: 208px;
    height: 321px;
    background-position: -2080px -963px;
}

.building68 {
    width: 208px;
    height: 321px;
    background-position: -2080px -1284px;
}

.building69 {
    width: 208px;
    height: 321px;
    background-position: -2080px -1605px;
}

.building7 {
    width: 208px;
    height: 321px;
    background-position: 0 -1926px;
}

.building70 {
    width: 208px;
    height: 321px;
    background-position: -208px -1926px;
}

.building71 {
    width: 208px;
    height: 321px;
    background-position: -416px -1926px;
}

.building72 {
    width: 208px;
    height: 321px;
    background-position: -624px -1926px;
}

.building73 {
    width: 208px;
    height: 321px;
    background-position: -832px -1926px;
}

.building8 {
    width: 208px;
    height: 321px;
    background-position: -1040px -1926px;
}

.building9 {
    width: 208px;
    height: 321px;
    background-position: -1248px -1926px;
}

.building_small {
    background-size: 1100%;
    width: 104px;
    height: 160px;
}


.column1 { left: calc(62px * (1 - 1)); }
.column2 { left: calc(62px * (2 - 1)); }
.column3 { left: calc(62px * (3 - 1)); }
.column4 { left: calc(62px * (4 - 1)); }
.column5 { left: calc(62px * (5 - 1)); }
.column6 { left: calc(62px * (6 - 1)); }
.column7 { left: calc(62px * (7 - 1)); }
.column8 { left: calc(62px * (8 - 1)); }
.column9 { left: calc(62px * (9 - 1)); }
.column10 { left: calc(62px * (10 - 1)); }
.column11 { left: calc(62px * (11 - 1)); }

.row1 { top: calc(75px * (1 - 1)); }
.row2 { top: calc(75px * (2 - 1)); }
.row3 { top: calc(75px * (3 - 1)); }
.row4 { top: calc(75px * (4 - 1)); }
.row5 { top: calc(75px * (5 - 1)); }
.row6 { top: calc(75px * (6 - 1)); }
.row7 { top: calc(75px * (7 - 1)); }